<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <br>
    <app-bread-crumb [items]="[{text: 'Permissões', link: '/permitions'}, {text: pageTitle}]"></app-bread-crumb>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md">
      <button routerLink="/permitions" class="btn btn-light pull-right">
        << Voltar </button>
          <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
    </div>
  </div>

  <div class="row">

  </div>
</div>
